<h1> Url shortener</h1>

<p align="center">

<button id="myButton" class="float-left submit-button"class="btn btn-primary" >Click to Continue</button>

<script type="text/javascript">
    document.getElementById("myButton").onclick = function () {
        location.href = "/urls/new";
    };
</script>


<br>
<br>


<button id="SearchButton" class="float-left submit-button"class="btn btn-primary" >Click to Elastic Search</button>

<script type="text/javascript">
    document.getElementById("SearchButton").onclick = function () {
        location.href = "search";
    };
</script>

