<h2> created</h2>

<p align="center">
  <strong>Long_url:</strong>
  <%= link_to 'https://www.'+@url.long_url, 'https://www.'+@url.long_url %>
</p>

 
<p align="center">
  <strong>Short_url:</strong>
  <%= link_to 'https://www.'+@url.short_url, 'https://www.'+@url.long_url %>
</p>

<p align="center">

<%= link_to 'Back','/urls/new' %>
