<h2>Daily Report</h2>

<p align="center">
  <strong>Date:</strong>
  <%= @count.date%>
</p>

 
<p align="center">
  <strong>Hits:</strong>
  <%= @count.count %>
</p>

<p align="center">

<%= link_to 'Back','/' %>

